<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to CatPicSeller!</h1>
    <p>
      You have successfully signed up to our fabulous service!!<br>
      Your connecting address is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining us and have a great day!</p>
  </body>
</html>
