<%= render "layouts/header"%>

    <body class="ecommerce">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<div class="wrapper">
		<!-- Start Site Content -->
		<div class="site-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <!-- Start Content Area -->
					    <div id="primary" class="content-area">
                            <div class="row">
								<div class="col-xs-12 col-sm-9 col-md-9">
								    <!-- Start Table -->
									<div class="table-responsive">
										<table class="table-condensed table-bordered cart-table">
											<thead>
												<tr>
													<th class="cart-iremove">Remove</th>
													<th class="cart-ithumbnail">Product</th>
													<th class="cart-iname">Product Name</th>
													<th class="cart-iprice">Price</th>
													<th class="cart-iquantity">Quantity</th>
													<th class="cart-itotal">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="cart-iremove"><a href="#"><i class="icofont icofont-close"></i></a></td>
													<td class="cart-ithumbnail"><a href="#"><img alt="" src="img/products/cart-1.jpg"></a></td>
													<td class="cart-iname"><a href="#">Picture</a></td>
													<td class="cart-iprice">€ 99.00</td>
													<td class="cart-iquantity">01</td>
													<td class="cart-itotal">€ 99.00</td>
												</tr>
												<tr>
													<td class="cart-iremove"><a href="#"><i class="icofont icofont-close"></i></a></td>
													<td class="cart-ithumbnail"><a href="#"><img alt="" src="img/products/cart-2.jpg"></a></td>
													<td class="cart-iname"><a href="#">Picture</a></td>
													<td class="cart-iprice">€ 99.00</td>
													<td class="cart-iquantity">01</td>
													<td class="cart-itotal">€ 99.00</td>
												</tr>
												<tr>
													<td class="cart-iremove"><a href="#"><i class="icofont icofont-close"></i></a></td>
													<td class="cart-ithumbnail"><a href="#"><img alt="" src="img/products/cart-3.jpg"></a></td>
													<td class="cart-iname"><a href="#">Picture</a></td>
													<td class="cart-iprice">€ 99.00</td>
													<td class="cart-iquantity">01</td>
													<td class="cart-itotal">€ 99.00</td>
												</tr>
											</tbody>
										</table>
                                    </div>
								    <!-- End Table -->
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3">
								    <!-- Start Cart Widget -->
                                    <div class="cart-widget">
										<!-- Start Copun -->
										<div class="coupon-area mb-60">
											<p class="uppercase"><strong>Have a coupon ?</strong></p>
											<input type="text" placeholder="Enter your code">
											<a class="btn btn-brown btn-flat btn-coupon">Submit</a>
										</div>
										<!-- End Copun -->
										<p class="uppercase"><strong>Cart total</strong></p>
										<!-- Start Table -->
										<table class="table widget-table">
											<tbody>
												<tr>
													<td>Cart Subtotal</td>
													<td class="text-right">€ 99.00</td>
												</tr>
												<tr>
													<td>Shipping</td>
													<td class="text-right">Free</td>
												</tr>
												<tr>
													<td>Grand Total</td>
													<td class="text-right">€ 99.00</td>
												</tr>
											</tbody>
										</table>
										<!-- End Table -->
										<!-- Update Buttons -->
										<div class="update-cart-area">
											<a href="#" class="btn btn-brown btn-borders btn-flat">Update Cart</a>
											<a href="checkout" class="btn btn-brown btn-flat pull-right">Order now</a>
										</div>
										<!-- End Update Buttons -->
									</div>
                                    <!-- End Cart Widget -->
								</div>
                            </div>
					    </div>
						<!-- End Content Area -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Site Content -->

    </body>

<%= render "layouts/footer"%>
