<%= render "layouts/header"%>
<br></br><br></br><br></br>

<div class="container">
  <div class="row">
    <div class="col-md-12  toppad  offset-md-0 ">
      <a href="edit.html" class="float-right" >Sign off</a>
    </div>
    <div class="col-md-6  offset-md-0  toppad" >
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">@user</h2>
          <table class="table table-user-information ">
            <tbody>
              <tr>
                <td>Surname:</td>
                <td>  <input
                  icon="text-icon"
                  name="surname"
                  type="text"
                  label=""
                  value=""
                  focus
                  /></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>  <input
                  icon="text-icon"
                  name="name"
                  type="text"
                  label=""
                  value=""
                  focus
                  /></td>
              </tr>

              <tr>
                <td>Postal Code:</td>
                <td>
                  <input
                  name="zipCode"
                  type="text"
                  label="08XXX"
                  maxLength="5"
                  value=""
                  focus
                  />
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <input
                  icon="email-icon"
                  name="email"
                  type="text"
                  label=""
                  value=""
                  focus
                  />
                </td>

              </tr>
            </tbody>
          </table>
          <a href="#" onClick={props.handleSubmitProfile} class="btn btn-primary ml-2">Save Changes</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  offset-md-0  toppad">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Change your password</h3>
          <table class="table table-user-information ">
            <tbody>
              <tr>
                <td>Current password:</td>
                <td>
                  <input
                  icon="password-icon"
                  name="password"
                  type="password"
                  value=''
                  focus
                  />
                </td>
              </tr>
              <tr>
                <td>New password:</td>
                <td>
                  <Input
                  icon="password-icon"
                  name="newPassword"
                  type="password"
                  value=''
                  />
                </td>
              </tr>
              <tr>
                <td>Repeat password:</td>
                <td>
                  <Input
                  icon="password-icon"
                  name="newPassword"
                  type="password"
                  value=''
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <a href="#" onClick={props.handleSubmitPass} class="btn btn-primary ml-2">Change Password</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br></br><br></br><br></br>

<%= render "layouts/footer"%>
