<body class="ecommerce">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="wrapper">
    <!-- Start Header -->
    <%= render "layouts/header"%>
    <!-- End Header -->
    <!-- Start Slider Area-->
    <section id="slider-container">
      <div class="slider-ecommerce">
        <!-- Start Slingle Slide -->
        <div class="single-slide">
          <!-- Start Slider Image -->
          <a href="#"><img src="img/slider/ecommerce/1.png" alt="" /></a>
          <!-- End Slider Image -->
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="slider-content dis-table">
              <div class="dis-table-cell text-left">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-offset-6 col-md-6">
                      <div class="slide-content">
                        <h1>CUTE CAT</h1>
                        <h3>Exceptional photo</h3>
                        <p>Choose your picture with love </p>
                        <a href="#" class="btn btn-brown">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide">
          <!-- Start Slider Image -->
          <a href="#"><img src="img/slider/ecommerce/2.png" alt="" /></a>
          <!-- End Slider Image -->
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="slider-content dis-table">
              <div class="dis-table-cell text-right">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10">
                      <div class="slide-content">
                        <h1>CUTE CAT</h1>
                        <h3>For your home interior</h3>
                        <p>Choose your picture with love </p>
                        <a href="#" class="btn btn-brown btn-borders">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <div class="single-slide">
          <!-- Start Slider Image -->
          <a href="#"><img src="img/slider/ecommerce/4.png" alt="" /></a>
          <!-- End Slider Image -->
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="slider-content dis-table">
              <div class="dis-table-cell text-right">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10">
                      <div class="slide-content">
                        <h1>NEW COLLECTION</h1>
                        <h3>She name's MIMI</h3>
                        <p>Choose your picture with love </p>
                        <a href="#" class="btn btn-brown btn-borders">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide">
          <!-- Start Slider Image -->
          <a href="#"><img src="img/slider/ecommerce/3.png" alt="" /></a>
          <!-- End Slider Image -->
          <!-- Start Slider Content -->
          <div class="slider-content-area">
            <div class="slider-content dis-table">
              <div class="dis-table-cell text-right">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10">
                      <div class="slide-content">
                        <h1>CUTE CAT</h1>
                        <h3>Choose by cat breed</h3>
                        <p>Choose your picture with love </p>
                        <a href="#" class="btn btn-brown">Shop Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
      </div>

    </section>
    <!-- End Slider Area -->
    <!-- Start Top Category -->
    <div id="top-caregory-area" class="pt-100 pb-70">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <!-- Start Single Category -->
            <div class="single-top-cat mt-25">
              <a href="#"> <img src="img/products/top-category/1.png" alt="" /> </a>
              <div class="top-cat-overlay">
                <span>Chat</span>
                <h4>Europeen</h4>
                <a href="product_europeen" class="btn btn-brown">Shop Now</a>
              </div>
            </div>
            <!-- Start Single Category -->
          </div>
          <div class="col-md-6">
            <!-- Start Single Category -->
            <div class="single-top-cat middle-cat">
              <a href="#"> <img src="img/products/top-category/2.png" alt="" /> </a>
              <div class="top-cat-overlay trans-3">
                <span>Chat</span>
                <h4>Siberien</h4>
                <a href="product_siberien" class="btn btn-brown">Shop Now</a>
              </div>
            </div>
            <!-- Start Single Category -->
          </div>
          <div class="col-md-3">
            <!-- Start Single Category -->
            <div class="single-top-cat mt-25">
              <a href="#"> <img src="img/products/top-category/3.png" alt="" /> </a>
              <div class="top-cat-overlay">
                <span>Chat</span>
                <h4>Persan</h4>
                <a href="product_persan" class="btn btn-brown">Shop Now</a>
              </div>
            </div>
            <!-- Start Single Category -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Top Category -->
    <!-- Start Featured Products -->
    <section id="featured-products" class="pb-100">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <!-- Start Section Title -->
            <div class="section-title style-2">
              <h2>Featured Product</h2>
            </div>
            <!-- End Section Title -->
          </div>
        </div>
        <div class="row pt-20">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Single Product -->
            <div class="single-product">
              <!-- Start Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"> <img src="img/products/1.png" alt="" />	</a>
                <!-- Start Product Buttons -->
                <div class="product-buttons">
                <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                </div>
                <!-- End Product Buttons -->
              </div>
              <!-- End Product Thumbnail -->
              <!-- Start Product Details -->
              <div class="produtct-details">
                <span class="product-name"><a href="#">Minette</a></span>
                <!-- Start Price Stars -->
                <div class="price-stars">
                  <span class="price">€ 99.00</span>
                  <!-- Start Stars -->
                  <div class="star-rating pull-right">
                    <ul>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                    </ul>
                  </div>
                  <!-- End Stars -->
                </div>
                <!-- End Price Stars -->
              </div>
              <!-- End Product Details -->
            </div>
            <!-- End Single Product -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Single Product -->
            <div class="single-product">
              <!-- Start Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"> <img src="img/products/2.png" alt="" />	</a>
                <!-- Start Product Buttons -->
                <div class="product-buttons">
                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                </div>
                <!-- End Product Buttons -->
              </div>
              <!-- End Product Thumbnail -->
              <!-- Start Product Details -->
              <div class="produtct-details">
                <span class="product-name"><a href="#">Felix</a></span>
                <!-- Start Price Stars -->
                <div class="price-stars">
                  <span class="price">€ 99.00</span>
                  <!-- Start Stars -->
                  <div class="star-rating pull-right">
                    <ul>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                    </ul>
                  </div>
                  <!-- End Stars -->
                </div>
                <!-- End Price Stars -->
              </div>
              <!-- End Product Details -->
            </div>
            <!-- End Single Product -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Single Product -->
            <div class="single-product">
              <!-- Start Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"> <img src="img/products/3.png" alt="" />	</a>
                <!-- Start Product Buttons -->
                <div class="product-buttons">
                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                </div>
                <!-- End Product Buttons -->
              </div>
              <!-- End Product Thumbnail -->
              <!-- Start Product Details -->
              <div class="produtct-details">
                <span class="product-name"><a href="#">Chipie</a></span>
                <!-- Start Price Stars -->
                <div class="price-stars">
                  <span class="price">€ 99.00</span>
                  <!-- Start Stars -->
                  <div class="star-rating pull-right">
                    <ul>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star"><i class="icofont icofont-star"></i></li>
                      <li class="star"><i class="icofont icofont-star"></i></li>
                    </ul>
                  </div>
                  <!-- End Stars -->
                </div>
                <!-- End Price Stars -->
              </div>
              <!-- End Product Details -->
            </div>
            <!-- End Single Product -->
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <!-- Start Single Product -->
            <div class="single-product">
              <!-- Start Product Thumbnail -->
              <div class="product-thumbnail">
                <a href="#"> <img src="img/products/4.png" alt="" />	</a>
                <!-- Start Product Buttons -->
                <div class="product-buttons">
                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                </div>
                <!-- End Product Buttons -->
              </div>
              <!-- End Product Thumbnail -->
              <!-- Start Product Details -->
              <div class="produtct-details">
                <span class="product-name"><a href="#">Caline</a></span>
                <!-- Start Price Stars -->
                <div class="price-stars">
                  <span class="price">€ 99.00</span>
                  <!-- Start Stars -->
                  <div class="star-rating pull-right">
                    <ul>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                      <li class="star"><i class="icofont icofont-star"></i></li>
                    </ul>
                  </div>
                  <!-- End Stars -->
                </div>
                <!-- End Price Stars -->
              </div>
              <!-- End Product Details -->
            </div>
            <!-- End Single Product -->
          </div>
          <div class="loadmore-area">
            <a href="product_shop" class="btn btn-brown mt-25">Voir plus <i class="ml-5 fa fa-refresh" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Products -->
    <!-- Start New Produt -->
    <section id="new-product" class="gray-bg pt-80 pb-35">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-7">
            <!-- Start Product Image -->
            <div class="new-product-pic">
              <img src="img/products/sofa.png" alt="" />
            </div>
            <!-- End Product Image -->
          </div>
          <div class="col-sm-6 col-md-4 pr-0">
            <!-- Start New Product Desciption -->
            <div class="new-product-title">
              <h4>New Arrival</h4>
              <h2>Mimi	</h2>
            </div>
            <div class="new-product-des">
              <p>New Collection 2018</p>
              <a href="new_collection" class="btn btn-brown">Shop Now</a>
            </div>
            <!-- End New Product Desciption -->
          </div>
        </div>
      </div>
    </section>
    <!-- End New Produt -->
    <!-- Start Popular Products -->
    <section id="popular-products" class="pt-80 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <!-- Start Section Title -->
            <div class="section-title style-2">
              <h2>Popular Products</h2>
            </div>
            <!-- End Section Title -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="filter-catagory-menu text-center">
              <li class="filter active" data-filter="all">All</li>
              <li class="filter" data-filter=".chair">Sofa</li>
              <li class="filter" data-filter=".table">Bedroom</li>
              <li class="filter" data-filter=".sofa">Kitchen</li>
              <li class="filter" data-filter=".lamp">Hallway</li>
              <li class="filter" data-filter=".accessories">Children's room</li>
            </ul>
          </div>
          <div id="mix-fil" class="product-items">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix chair">
              <!-- Start Single Product -->
              <div class="single-product">
                <!-- Start Product Thumbnail -->
                <div class="product-thumbnail">
                  <a href="#"> <img src="img/products/popular/1.png" alt="" />	</a>
                  <!-- Start Product Buttons -->
                  <div class="product-buttons">
                    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                  </div>
                  <!-- End Product Buttons -->
                </div>
                <!-- End Product Thumbnail -->
                <!-- Start Product Details -->
                <div class="produtct-details">
                  <span class="product-name"><a href="#">Love me</a></span>
                  <!-- Start Price Stars -->
                  <div class="price-stars">
                    <span class="price">€ 99.00</span>
                    <!-- Start Stars -->
                    <div class="star-rating pull-right">
                      <ul>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <!-- End Stars -->
                  </div>
                  <!-- End Price Stars -->
                </div>
                <!-- End Product Details -->
              </div>
              <!-- End Single Product -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix">
              <!-- Start Single Product -->
              <div class="single-product">
                <!-- Start Product Thumbnail -->
                <div class="product-thumbnail">
                  <a href="#"> <img src="img/products/popular/2.png" alt="" />	</a>
                  <!-- Start Product Buttons -->
                  <div class="product-buttons">
                    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                  </div>
                  <!-- End Product Buttons -->
                </div>
                <!-- End Product Thumbnail -->
                <!-- Start Product Details -->
                <div class="produtct-details">
                  <span class="product-name"><a href="#">Warm me up by Luna</a></span>
                  <!-- Start Price Stars -->
                  <div class="price-stars">
                    <span class="price">€ 99.00</span>
                    <!-- Start Stars -->
                    <div class="star-rating pull-right">
                      <ul>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <!-- End Stars -->
                  </div>
                  <!-- End Price Stars -->
                </div>
                <!-- End Product Details -->
              </div>
              <!-- End Single Product -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix chair">
              <!-- Start Single Product -->
              <div class="single-product">
                <!-- Start Product Thumbnail -->
                <div class="product-thumbnail">
                  <a href="#"> <img src="img/products/popular/3.png" alt="" />	</a>
                  <!-- Start Product Buttons -->
                  <div class="product-buttons">
                    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                  </div>
                  <!-- End Product Buttons -->
                </div>
                <!-- End Product Thumbnail -->
                <!-- Start Product Details -->
                <div class="produtct-details">
                  <span class="product-name"><a href="#">Penter</a></span>
                  <!-- Start Price Stars -->
                  <div class="price-stars">
                    <span class="price">€ 150.00</span>
                    <!-- Start Stars -->
                    <div class="star-rating pull-right">
                      <ul>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <!-- End Stars -->
                  </div>
                  <!-- End Price Stars -->
                </div>
                <!-- End Product Details -->
              </div>
              <!-- End Single Product -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix chair">
              <!-- Start Single Product -->
              <div class="single-product">
                <!-- Start Product Thumbnail -->
                <div class="product-thumbnail">
                  <a href="#"> <img src="img/products/popular/4.png" alt="" />	</a>
                  <!-- Start Product Buttons -->
                  <div class="product-buttons">
                    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                  </div>
                  <!-- End Product Buttons -->
                </div>
                <!-- End Product Thumbnail -->
                <!-- Start Product Details -->
                <div class="produtct-details">
                  <span class="product-name"><a href="#">Hug</a></span>
                  <!-- Start Price Stars -->
                  <div class="price-stars">
                    <span class="price">€ 150.00</span>
                    <!-- Start Stars -->
                    <div class="star-rating pull-right">
                      <ul>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star yes"><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <!-- End Stars -->
                  </div>
                  <!-- End Price Stars -->
                </div>
                <!-- End Product Details -->
              </div>
              <!-- End Single Product -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</body>
<%= render "layouts/footer"%>
</html>
