<%= render "layouts/header"%>
<section id="slider-container">
  <div class="slider-ecommerce">
    <!-- Start Slingle Slide -->
    <div class="single-slide">
      <!-- Start Slider Image -->
      <a href="#"><img src="img/slider/ecommerce/new_collection/1.png" alt="" /></a>
      <!-- End Slider Image -->
      <!-- Start Slider Content -->
      <div class="slider-content-area">
        <div class="slider-content dis-table">
          <div class="dis-table-cell text-left">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-offset-6 col-md-6">
                  <div class="slide-content">

                    <h3>NEW COLLECTION</h3>
                    <a href="#" class="btn btn-brown">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Slider Content -->
    </div>
    <!-- End Slingle Slide -->
    <!-- Start Slingle Slide -->
    <div class="single-slide">
      <!-- Start Slider Image -->
      <a href="#"><img src="img/slider/ecommerce/new_collection/2.png" alt="" /></a>
      <!-- End Slider Image -->
      <!-- Start Slider Content -->
      <div class="slider-content-area">
        <div class="slider-content dis-table">
          <div class="dis-table-cell text-right">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10">
                  <div class="slide-content">
                    <h3>NEW COLLECTION</h3>
                    <a href="#" class="btn btn-brown btn-borders">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Slider Content -->
    </div>
    <div class="single-slide">
      <!-- Start Slider Image -->
      <a href="#"><img src="img/slider/ecommerce/new_collection/3.png" alt="" /></a>
      <!-- End Slider Image -->
      <!-- Start Slider Content -->
      <div class="slider-content-area">
        <div class="slider-content dis-table">
          <div class="dis-table-cell text-right">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10">
                  <div class="slide-content">
                    <h3>NEW COLLECTION</h3>
                    <a href="#" class="btn btn-brown btn-borders">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Slider Content -->
    </div>
    <!-- End Slingle Slide -->
    <!-- Start Slingle Slide -->
    <div class="single-slide">
      <!-- Start Slider Image -->
      <a href="#"><img src="img/slider/ecommerce/new_collection/4.png" alt="" /></a>
      <!-- End Slider Image -->
      <!-- Start Slider Content -->
      <div class="slider-content-area">
        <div class="slider-content dis-table">
          <div class="dis-table-cell text-right">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10">
                  <div class="slide-content">
                    <h3>NEW COLLECTION</h3>
                    <a href="#" class="btn btn-brown">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Slider Content -->
    </div>
    <!-- End Slingle Slide -->
  </div>


<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<!-- Start Single Product -->
<div class="single-product">
<!-- Start Product Thumbnail -->
<div class="product-thumbnail">
  <a href="#"> <img src="img/slider/ecommerce/new_collection/1.png" alt="" />	</a>
  <!-- Start Product Buttons -->
  <div class="product-buttons">
    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
  </div>
  <!-- End Product Buttons -->
</div>
<!-- End Product Thumbnail -->
<!-- Start Product Details -->
<div class="produtct-details">
  <span class="product-name"><a href="#">Kamus</a></span>
  <!-- Start Price Stars -->
  <div class="price-stars">
    <span class="price">€ 99.00</span>
    <!-- Start Stars -->
    <div class="star-rating pull-right">
      <ul>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
      </ul>
    </div>
    <!-- End Stars -->
  </div>
  <!-- End Price Stars -->
</div>
<!-- End Product Details -->
</div>
<!-- End Single Product -->
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<!-- Start Single Product -->
<div class="single-product">
<!-- Start Product Thumbnail -->
<div class="product-thumbnail">
  <a href="#"> <img src="img/slider/ecommerce/new_collection/2.png" alt="" />	</a>
  <!-- Start Product Buttons -->
  <div class="product-buttons">
    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
  </div>
  <!-- End Product Buttons -->
</div>
<!-- End Product Thumbnail -->
<!-- Start Product Details -->
<div class="produtct-details">
  <span class="product-name"><a href="#">Miaouss</a></span>
  <!-- Start Price Stars -->
  <div class="price-stars">
    <span class="price">€ 99.00</span>
    <!-- Start Stars -->
    <div class="star-rating pull-right">
      <ul>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
      </ul>
    </div>
    <!-- End Stars -->
  </div>
  <!-- End Price Stars -->
</div>
<!-- End Product Details -->
</div>
<!-- End Single Product -->
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<!-- Start Single Product -->
<div class="single-product">
<!-- Start Product Thumbnail -->
<div class="product-thumbnail">
  <a href="#"> <img src="img/slider/ecommerce/new_collection/3.png" alt="" />	</a>
  <!-- Start Product Buttons -->
  <div class="product-buttons">
    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
  </div>
  <!-- End Product Buttons -->
</div>
<!-- End Product Thumbnail -->
<!-- Start Product Details -->
<div class="produtct-details">
  <span class="product-name"><a href="#">Orphé</a></span>
  <!-- Start Price Stars -->
  <div class="price-stars">
    <span class="price">€ 99.00</span>
    <!-- Start Stars -->
    <div class="star-rating pull-right">
      <ul>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
      </ul>
    </div>
    <!-- End Stars -->
  </div>
  <!-- End Price Stars -->
</div>
<!-- End Product Details -->
</div>
<!-- End Single Product -->
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<!-- Start Single Product -->
<div class="single-product">
<!-- Start Product Thumbnail -->
<div class="product-thumbnail">
  <a href="#"> <img src="img/slider/ecommerce/new_collection/4.png" alt="" />	</a>
  <!-- Start Product Buttons -->
  <div class="product-buttons">
    <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
  </div>
  <!-- End Product Buttons -->
</div>
<!-- End Product Thumbnail -->
<!-- Start Product Details -->
<div class="produtct-details">
  <span class="product-name"><a href="#">Duchesse</a></span>
  <!-- Start Price Stars -->
  <div class="price-stars">
    <span class="price">€ 99.00</span>
    <!-- Start Stars -->
    <div class="star-rating pull-right">
      <ul>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star yes"><i class="icofont icofont-star"></i></li>
        <li class="star"><i class="icofont icofont-star"></i></li>
      </ul>
    </div>
    <!-- End Stars -->
  </div>
  <!-- End Price Stars -->
</div>
<!-- End Product Details -->
</div>
<!-- End Single Product -->
</div>
</section>
<%= render "layouts/footer"%>
