<%= render "layouts/header"%>

		<!-- Modernizr js -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
<!-- Start Site Content -->
		<div class="site-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <!-- Start Content Area -->
					    <div id="primary" class="content-area">
                            <div class="row">
								<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
									<!-- Start Product Details Thumb -->
									<div class="prodcut-details-thumb">
										<div class="pdetails-inner clearfix">
										   <!-- Start Details Big Thumbnail -->
										   <div class="details-thumb-big">
												<a href="#"><img src="img/products/details/1.png" alt="" /></a>
												<a href="#"><img src="img/products/details/2.png" alt="" /></a>
												<a href="#"><img src="img/products/details/3.png" alt="" /></a>
												<a href="#"><img src="img/products/details/4.png" alt="" /></a>
												<a href="#"><img src="img/products/details/5.png" alt="" /></a>
											</div>
											<!-- End Details Big Thumbnail -->
											<!-- Start Details Small Thumbnail -->
											<div class="details-thumb-small">
												<div class="single-thumb" data-slick-index="1">
													<img src="img/products/details/21.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="2">
													<img src="img/products/details/22.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="3">
													<img src="img/products/details/23.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="4">
													<img src="img/products/details/24.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="5">
													<img src="img/products/details/25.png" alt="thumb1">
												</div>
											</div>
											<!-- End Details Big Thumbnail -->
										</div>
									</div>
									<!-- End Product Details Thumb -->
								</div>
								<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
									<!-- Start Product Info -->
									<div class="product-details-info">
										<h1>Sample Product Name</h1>
										<!-- Start Pice Box -->
										<div class="price-box">
											<div class="s-price-box">
												<span class="new-price">$ 123.00</span>
											</div>
											<div class="star-rating pull-right">
												<ul>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star"><i class="icofont icofont-star"></i></li>
													<li>10 Reviews</li>
												</ul>
											</div>
										</div>
										<!-- End Pice Box -->
										<div class="quick-desc">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr so er since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type sbook.</p>
										</div>
										<!-- Start Product Size -->
										<div class="product-size">
										   <span>Size</span>
										   <ul>
											<li><a href="#">XS</a></li>
											<li><a href="#">S</a></li>
											<li><a href="#">M</a></li>
											<li><a href="#">L</a></li>
											<li><a href="#">XL</a></li>
										   </ul>
										</div>
										<!-- Start Product Color -->
										<div class="product-colors">
										   <span>Colors</span>
											<ul>
												<li class="color-1"><a href="#">color</a></li>
												<li class="color-2"><a href="#">color</a></li>
												<li class="color-3"><a href="#">color</a></li>
												<li class="color-4"><a href="#">color</a></li>
												<li class="color-5"><a href="#">color</a></li>
											</ul>
										</div>
										<!-- End Product Size -->
										<div class="quantity-control">
											<span>Qty</span>
											<div class="cart-plus-minus">
												<input type="text" class="cart-plus-minus-box" name="qtybutton" value="1">
											</div>
										</div>
										<div class="quickview-btns">
											<a href="#" class="btn btn-brown btn-flat">Add to cart</a>
											<a href="#" class="btn btn-brown btn-borders btn-flat">Add to wishlist</a>
										</div>
										<!-- Start Social Share -->
										<div class="quickview-social-share">
											<span><strong class="share">Share: </strong></span>
											<ul class="widget-social-links">
												<li><a href="#" class="facebook" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
												<li><a href="#" class="twitter" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
												<li><a href="#" class="skype" target="_blank"><i class="icofont icofont-social-skype"></i></a></li>
												<li><a href="#" class="google-plus" target="_blank"><i class="icofont icofont-social-behance"></i></a></li>
												<li><a href="#" class="dribble" target="_blank"><i class="icofont icofont-social-dribbble"></i></a></li>
											</ul>
										</div>
										<!-- End Social Share -->
									</div>
									<!-- End Product Info -->
								</div>

                            </div>
							<div class="row">
								<div class="col-xs-12">
									<!-- Start Product Description Tab -->
									<div class="product-description-tab ptb-50">
										<!-- Start Description Menu -->
										<div class="description-tab-menu">
											<ul role="tablist" class="clearfix">
												<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="description" href="#description" aria-expanded="true">Description</a></li>
												<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="review" href="#review" aria-expanded="false">Reviews</a></li>
										  </ul>
										</div>
										<!-- End Description Menu -->
										<!-- Start Tab Content -->
										<div class="tab-content">
											<!-- Start Tab Panel -->
											<div id="description" class="tab-pane active" role="tabpanel">
											   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <br /> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam</p>
											</div>
											<!-- End Tab Panel -->
											<!-- Start Tab Panel -->
											<div id="review" class="tab-pane" role="tabpanel">
												<p>Similique animi consequatur pariatur voluptas tempore, dolores obcaecati dolorum quia odit harum. Quos nemo, minima totam quidem ipsum labore.</p>
												<ul>
													<li>Minus placeat eligendi neque doloribus sed ratione repellendus a illo similique, sint quisquam perferendis eum nam nihil dolor fugit blanditiis, explicabo, recusandae hic qui exercitationem aspernatur excepturi voluptate unde. </li>
													<li>Quaerat magnam, perferendis, sapiente doloremque error omnis esse in saepe quos eveniet quasi ex fugit eligendi consectetur nobis amet. </li>
												</ul>
											</div>
											<!-- End Tab Panel -->
										</div>
										<!-- End Tab Content -->
									</div>
									<!-- Start Product Description Tab -->
								</div>
							</div>
					    </div>
						<!-- End Content Area -->
					</div>
				</div>
			</div>
			<!-- Start Related Products -->
			<div class="related-products pt-20">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<!-- Start Section Title -->
							<div class="section-title">
								<h2>Related Products</h2>
							</div>
							<!-- End Section Title -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/1.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
										<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">$ 99.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/2.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
										<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">$ 99.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/3.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
										<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">$ 99.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/4.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-wishlist"><i class="icofont icofont-ui-love"></i></a>
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
										<a href="#" class="btn-quickview modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="icofont icofont-eye-alt"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Men’s T-Shirt</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">$ 99.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="loadmore-area">
							<a href="#" class="btn btn-brown">load more <i class="ml-5 fa fa-refresh" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- End Related Products -->
		</div>
		<!-- End Site Content -->
    <%= render "layouts/footer"%>
