<%= render "layouts/header"%>

	<!-- Start Site Content -->
		<div class="site-content ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <!-- Start Content Area -->
					    <div id="primary" class="content-area">
                            <div class="row">
								<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
									<!-- Start Product Details Thumb -->
									<div class="prodcut-details-thumb">
										<div class="pdetails-inner clearfix">
										   <!-- Start Details Big Thumbnail -->
										   <div class="details-thumb-big">
												<a href="#"><img src="img/products/details/persan/1.png" alt="" /></a>
												<a href="#"><img src="img/products/details/persan/2.png" alt="" /></a>
												<a href="#"><img src="img/products/details/persan/3.png" alt="" /></a>
												<a href="#"><img src="img/products/details/persan/4.png" alt="" /></a>
												<a href="#"><img src="img/products/details/persan/5.png" alt="" /></a>
											</div>
											<!-- End Details Big Thumbnail -->
											<!-- Start Details Small Thumbnail -->
											<div class="details-thumb-small">
												<div class="single-thumb" data-slick-index="1">
													<img src="img/products/details/persan/21.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="2">
													<img src="img/products/details/persan/22.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="3">
													<img src="img/products/details/persan/23.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="4">
													<img src="img/products/details/persan/24.png" alt="thumb1">
												</div>
												<div class="single-thumb" data-slick-index="5">
													<img src="img/products/details/persan/25.png" alt="thumb1">
												</div>
											</div>
											<!-- End Details Big Thumbnail -->
										</div>
									</div>
									<!-- End Product Details Thumb -->
								</div>
								<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
									<!-- Start Product Info -->
									<div class="product-details-info">
										<h1>Photo chat sombre &#10084;</h1>
										<!-- Start Pice Box -->
										<div class="price-box">
											<div class="s-price-box">
												<span class="new-price">€99.00</span>
											</div>
											<div class="star-rating pull-right">
												<ul>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star yes"><i class="icofont icofont-star"></i></li>
													<li class="star"><i class="icofont icofont-star"></i></li>
													<li>3050 Reviews</li>
												</ul>
											</div>
										</div>
										<!-- End Pice Box -->
										<div class="quick-desc">
											<p>L'image du chat dans la nature de Andrey Popov est disponible sur notre site sous une licence libre de droits.
                      Disponible au format JPEG, cette image peut être téléchargée pour tous types d'utilisations professionnelles et dans différentes résolutions (jusqu'à 8 688 x 5 792 pixels en 300 DPI)
                      L'auteur de cette image, Andrey Popov a également 4 images dans la même série.
                      Pour télécharger cette image, vous pouvez l'ajouter dans le panier</p>
										</div>
										<!-- Start Product Size -->

										<!-- Start Product Color -->

										<!-- End Product Size -->
										<div class="quantity-control">
											<span>Quantity</span>
											<div class="cart-plus-minus">
												<input type="text" class="cart-plus-minus-box" name="qtybutton" value="1">
											</div>
										</div>
										<div class="quickview-btns">
											<a href="#" class="btn btn-brown btn-flat">Add to cart</a>
											<a href="#" class="btn btn-brown btn-borders btn-flat">Add to wishlist</a>
										</div>
										<!-- Start Social Share -->
										<div class="quickview-social-share">
											<span><strong class="share">Share: </strong></span>
											<ul class="widget-social-links">
                        <li><a href="#" class="facebook" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
												<li><a href="#" class="twitter" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
												<li><a href="#" class="instagram" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>

											</ul>
										</div>
										<!-- End Social Share -->
									</div>
									<!-- End Product Info -->
								</div>

                            </div>
							<div class="row">
								<div class="col-xs-12">
									<!-- Start Product Description Tab -->
									<div class="product-description-tab ptb-50">
										<!-- Start Description Menu -->
										<div class="description-tab-menu">
											<ul role="tablist" class="clearfix">
												<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="description" href="#description" aria-expanded="true">Description</a></li>
												<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="review" href="#review" aria-expanded="false">Reviews</a></li>
										  </ul>
										</div>
										<!-- End Description Menu -->
										<!-- Start Tab Content -->
										<div class="tab-content">
											<!-- Start Tab Panel -->
											<div id="description" class="tab-pane active" role="tabpanel">
											   <p>L'image du chat dans la nature de Andrey Popov est disponible sur notre site sous une licence libre de droits.
                         Disponible au format JPEG, cette image peut être téléchargée pour tous types d'utilisations professionnelles et dans différentes résolutions (jusqu'à 8 688 x 5 792 pixels en 300 DPI)
                         L'auteur de cette image, Andrey Popov a également 4 images dans la même série.
                         Pour télécharger cette image, vous pouvez l'ajouter dans le panier</p>
											</div>
											<!-- End Tab Panel -->
											<!-- Start Tab Panel -->
											<div id="review" class="tab-pane" role="tabpanel">
												<p>Nouvelle Collection 2018</p>
												<ul>
													<li>Mimi </li>
                      	</ul>
											</div>
											<!-- End Tab Panel -->
										</div>
										<!-- End Tab Content -->
									</div>
									<!-- Start Product Description Tab -->
								</div>
							</div>
					    </div>
						<!-- End Content Area -->
					</div>
				</div>
			</div>
			<!-- Start Related Products -->
			<div class="related-products pt-20">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<!-- Start Section Title -->
							<div class="section-title">
								<h2>Related Products</h2>
							</div>
							<!-- End Section Title -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/1.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Exotic</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">€ 199.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/2.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Bleu russe</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">€ 199.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/3.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Goutiérre</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">€ 150.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<!-- Start Single Product -->
							<div class="single-product">
								<!-- Start Product Thumbnail -->
								<div class="product-thumbnail">
								   <a href="#"> <img src="img/products/4.png" alt="" />	</a>
									<!-- Start Product Buttons -->
									<div class="product-buttons">
										<a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
									</div>
									<!-- End Product Buttons -->
								</div>
								<!-- End Product Thumbnail -->
								<!-- Start Product Details -->
								<div class="produtct-details">
									<span class="product-name"><a href="#">Goutiérre</a></span>
									<!-- Start Price Stars -->
									<div class="price-stars">
										<span class="price">€ 150.00</span>
										<!-- Start Stars -->
										<div class="star-rating pull-right">
											<ul>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star yes"><i class="icofont icofont-star"></i></li>
												<li class="star"><i class="icofont icofont-star"></i></li>
											</ul>
										</div>
										<!-- End Stars -->
									</div>
									<!-- End Price Stars -->
								</div>
								<!-- End Product Details -->
							</div>
							<!-- End Single Product -->
						</div>
						<div class="loadmore-area">
							<a href="#" class="btn btn-brown">Voir plus <i class="ml-5 fa fa-refresh" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- End Related Products -->
		</div>
		<!-- End Site Content -->
    <%= render "layouts/footer"%>
