<%= render "layouts/header"%>

<body class="ecommerce">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="wrapper">

    <!-- Start Site Content -->
    <div class="site-content ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content-area">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <!-- Start Product Toolbar -->
                  <div class="prodcut-toolbar">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="tab-bar">
                      <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid" title="Grid" href="#grid" aria-expanded="true">Grid</a></li>
                      <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="list" title="List" href="#list" aria-expanded="false">List</a></li>
                    </ul>
                    <!-- Start Sort Form -->
                    <div class="sort-form">
                      <form action="#" class="option-select">
                        <span class="mr-5">Sort:</span>
                        <select class="sort-options">
                          <option value="defaul">Default -</option>
                          <option value="average">Average rating</option>
                          <option value="newness">Newness</option>
                          <option value="lowhigh">Price: low to high</option>
                          <option value="highlow">price: high to low</option>
                        </select>
                      </form>
                    </div>
                    <!-- End Sort Form -->
                    <p class="pull-right">Showing  from + 1000 products</p>
                  </div>
                  <!-- End Product Toolbar -->
                </div>
              </div>
              <div class="row">
                <!-- Start Tab Content -->
                <div class="tab-content">
                  <!-- Start Grid products -->
                  <div id="grid" class="tab-pane active in" role="tabpanel">
                    <div class="products-gridview-inner">
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/25.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Simba</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/14.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Gribouille</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/15.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Filou</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/16.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Minou</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/17.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Léo</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/18.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Garfield</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/19.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Fripouille</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/20.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Oreo</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/21.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Oliver</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/22.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Oggy</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/23.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Orion</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- Start Single Product -->
                        <div class="single-product">
                          <!-- Start Product Thumbnail -->
                          <div class="product-thumbnail">
                            <a href="#"> <img src="img/products/24s.png" alt="" />	</a>
                            <!-- Start Product Buttons -->
                            <div class="product-buttons">
                              <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                            </div>
                            <!-- End Product Buttons -->
                          </div>
                          <!-- End Product Thumbnail -->
                          <!-- Start Product Details -->
                          <div class="produtct-details">
                            <span class="product-name"><a href="#">Osiris</a></span>
                            <!-- Start Price Stars -->
                            <div class="price-stars">
                              <span class="price">€ 99.00</span>
                              <!-- Start Stars -->
                              <div class="star-rating pull-right">
                                <ul>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star yes"><i class="icofont icofont-star"></i></li>
                                  <li class="star"><i class="icofont icofont-star"></i></li>
                                </ul>
                              </div>
                              <!-- End Stars -->
                            </div>
                            <!-- End Price Stars -->
                          </div>
                          <!-- End Product Details -->
                        </div>
                        <!-- End Single Product -->
                      </div>
                    </div>
                    <!-- Start Product Paginations -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <ul class="default-pagination">
                        <li class="pull-left"><a href="#"><i class="icofont icofont-long-arrow-left"></i></a></li>
                        <li><a href="product_shop">01</a></li>
                        <li class="current"><a href="product_shop2">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li class="pull-right"><a href="#"><i class="icofont icofont-long-arrow-right"></i></a></li>
                      </ul>
                    </div>
                    <!-- End Product Paginations -->
                  </div>
                  <!-- End Grid products -->
                  <!-- Start List products -->
                  <div id="list" class="tab-pane fade" role="tabpanel">
                    <!-- Start Products List View  -->
                    <div class="products-listview-inner">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- Start Single Prodcut -->
                        <div class="single-product">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                              <!-- Start Product Thumbnail -->
                              <div class="product-thumbnail">
                                <a href="#"> <img src="img/products/13.png" alt="" /></a>
                                <!-- Start Product Buttons -->
                                <div class="product-buttons">
                                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                                </div>
                                <!-- End Product Buttons -->
                              </div>
                              <!-- End Product Thumbnail -->
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                              <!-- Start Product Info -->
                              <div class="product-info">
                                <p><a href="#">Simba</a></p>
                                <div class="price-box">
                                  <!-- Start Product Price -->
                                  <div class="s-price-box">
                                    <span class="new-price">€ 99.00</span>
                                  </div>
                                  <!-- End Product Price -->
                                  <!-- Start Product Rating -->
                                  <div class="star-rating pull-right">
                                    <ul>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star"><i class="icofont icofont-star"></i></li>
                                      <li>10 Reviews</li>
                                    </ul>
                                  </div>
                                  <!-- End Product Rating -->
                                </div>
                                <div class="quick-desc">
                                  <p>Magnifique photo en HD de Simba .</p>
                                </div>
                              </div>
                              <!-- End Product Info -->
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Prodcut -->
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- Start Single Prodcut -->
                        <div class="single-product">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                              <!-- Start Product Thumbnail -->
                              <div class="product-thumbnail">
                                <a href="#"> <img src="img/products/14.png" alt="" /></a>
                                <!-- Start Product Buttons -->
                                <div class="product-buttons">
                                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                                </div>
                                <!-- End Product Buttons -->
                              </div>
                              <!-- End Product Thumbnail -->
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                              <!-- Start Product Info -->
                              <div class="product-info">
                                <p><a href="#"><strong>Gribouille</strong></a></p>
                                <div class="price-box">
                                  <!-- Start Product Price -->
                                  <div class="s-price-box">
                                    <span class="new-price">€ 99.00</span>
                                  </div>
                                  <!-- End Product Price -->
                                  <!-- Start Product Rating -->
                                  <div class="star-rating pull-right">
                                    <ul>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star"><i class="icofont icofont-star"></i></li>
                                      <li>10 Reviews</li>
                                    </ul>
                                  </div>
                                  <!-- End Product Rating -->
                                </div>
                                <div class="quick-desc">
                                  <p>Magnifique photo de Gribouille.</p>
                                </div>
                              </div>
                              <!-- End Product Info -->
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Prodcut -->
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <!-- Start Single Prodcut -->
                        <div class="single-product">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                              <!-- Start Product Thumbnail -->
                              <div class="product-thumbnail">
                                <a href="#"> <img src="img/products/15.png" alt="" /></a>
                                <!-- Start Product Buttons -->
                                <div class="product-buttons">
                                  <a href="#" class="btn-addtocart"><i class="icofont icofont-ui-cart"></i></a>
                                </div>
                                <!-- End Product Buttons -->
                              </div>
                              <!-- End Product Thumbnail -->
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                              <!-- Start Product Info -->
                              <div class="product-info">
                                <p><a href="#">Filou</a></p>
                                <div class="price-box">
                                  <!-- Start Product Price -->
                                  <div class="s-price-box">
                                    <span class="new-price">€ 99.00</span>
                                  </div>
                                  <!-- End Product Price -->
                                  <!-- Start Product Rating -->
                                  <div class="star-rating pull-right">
                                    <ul>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star yes"><i class="icofont icofont-star"></i></li>
                                      <li class="star"><i class="icofont icofont-star"></i></li>
                                      <li>10 Reviews</li>
                                    </ul>
                                  </div>
                                  <!-- End Product Rating -->
                                </div>
                                <div class="quick-desc">
                                  <p>La photo de filou vous apaisera tout les soirs .</p>
                                </div>
                              </div>
                              <!-- End Product Info -->
                            </div>
                          </div>
                        </div>
                        <!-- Start Single Prodcut -->
                      </div>
                    </div>
                    <!-- End Product List View -->
                    <!-- Start Products Pagination -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <ul class="default-pagination">
                        <li class="pull-left"><a href="#"><i class="icofont icofont-long-arrow-left"></i></a></li>
                        <li class="current"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li class="pull-right"><a href="#"><i class="icofont icofont-long-arrow-right"></i></a></li>
                      </ul>
                    </div>
                    <!-- End Product Paginations -->
                  </div>
                  <!-- End List products -->
                  <!-- End Tab Content -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Site Content -->

      <!-- Start Quickview Product -->
      <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <!-- Start Modal Content -->
            <div class="modal-content">
              <!-- Start Modal Head -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <!-- End Modal Head -->
              <!-- Start Modal Body -->
              <div class="modal-body">
                <!-- Start Modal Product  -->
                <div class="modal-product">
                  <!-- Start product images -->
                  <div class="product-images">
                    <div class="main-image images">
                      <img alt="" src="img/products/quickview.jpg" />
                    </div>
                  </div>
                  <!-- End product images -->
                  <!-- Start Product Info -->
                  <div class="product-info">
                    <h1>Sample Product Name</h1>
                    <!-- Start Pice Box -->
                    <div class="price-box">
                      <div class="s-price-box">
                        <span class="new-price">$ 123.00</span>
                      </div>
                      <div class="star-rating pull-right">
                        <ul>
                          <li class="star yes"><i class="icofont icofont-star"></i></li>
                          <li class="star yes"><i class="icofont icofont-star"></i></li>
                          <li class="star yes"><i class="icofont icofont-star"></i></li>
                          <li class="star yes"><i class="icofont icofont-star"></i></li>
                          <li class="star"><i class="icofont icofont-star"></i></li>
                          <li>10 Reviews</li>
                        </ul>
                      </div>
                    </div>
                    <!-- End Social Share -->
                  </div>
                  <!-- End Product Info -->
                </div>
                <!-- End Modal Product  -->
              </div>
              <!-- End Modal Body -->
            </div>
            <!-- End Modal Content -->
          </div>
        </div>
        <!-- End Modal -->
      </div>
      <!-- End Quickview Product -->
    </div>
    <!-- All JS Here -->
    <!-- jquery latest version -->
    <%= render "layouts/footer"%>
