<%= render "layouts/header"%>

<br></br><br></br>


<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
           <div class="container">
               <div class="row pb30 align-items-end">
                   <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">
                       <h3 class="text-white text-left mb30">Join the world of Assan.</h3>
                       <form>
                           <div class="form-group">
                               <input type="email" class="form-control" placeholder="Name">
                           </div>
                           <div class="form-group">
                               <input type="email" class="form-control" placeholder="Username">
                           </div>
                           <div class="form-group">
                               <input type="password" class="form-control" placeholder="Password">
                           </div>
                           <div class="form-group">
                               <input type="password" class="form-control" placeholder="Confirm Password">
                           </div>
                           <div class="form-group">
                               <button type="submit" class="btn btn-rounded btn-primary btn-block">Sign Up</button>
                           </div>
                           <div class="text-center text-white-gray"><a href="profil" class="btn btn-white-outline btn-block">Sign In</a></div>
                           <hr>
                           <div>

                           </div>
                       </form>
                   </div>
                   <div class="col-lg-4 col-md-6 col-sm-6 mb20">
                       <h3 class="text-white text-left mb30"></h3>
                       <div class="clearfix">


                       </div>
                   </div>
               </div>
           </div>
       </div>


<%= render "layouts/footer"%>
