<%= render "layouts/header"%>

<div id="preloader">
       <div id="preloader-inner"></div>
   </div><!--/preloader-->
<br></br><br></br><br></br><br></br>
   <div class="fullscreen bg-parallax accounts-page" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg3.jpg")'>
       <div class="d-flex align-items-center">
           <div class="container">
               <div class="row">
                   <div class="col-sm-10 ml-auto mr-auto">
                       <div class="media white-card">
                          <i class="fa fa-check fa-4x text-success mb0 align-self-center d-flex mr-3"></i>
                           <div class="media-body">
                               <h4 class="mb20 mb-1 text-white">
                              Votre commande a bien été pris en compte, merci!
                               </h4>
                               <a href='/' class='btn btn-white-outline'>Retour à la page d'acceuil</a>
                           </div>

                   </div>

               </div>
           </div>
       </div>
   </div>
<br></br><br></br>

   <%= render "layouts/footer"%>
