<!-- Start Footer Area -->
<footer class="footer-area pt-80 color-secondary">
    <!-- Start Footer Top Area  -->
    <div class="footer-top-area pt-25 pb-45">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <!-- Start Footer widget -->
            <div class="footer-widget">
              <div class="footer-logo">
            </div>
            <p>Made with 	&#10084; by TeamBullUp</p>
            <!-- Start widget Info -->
            <div class="widget-contact">
              <ul>
                  <li><i class="icofont icofont-phone"></i> +33651116866</li>
                <li><i class="icofont icofont-social-google-map"></i> Station F, Paris &#10084 </li>
              </ul>
            </div>
            <!-- End widget Info -->
          </div>
          <!-- End Footer widget -->
        </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <!-- Start Footer widget -->
                        <div class="footer-widget wedget-links">
            <h4 class="widget-title">My Account</h4>
                            <ul>
                              <li><a href="#">My Account</a></li>
                              <li><a href="#">Order History </a></li>
                              <li><a href="#">Wishlist</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Top Seller</a></li>
                            </ul>
          </div>
          <!-- End Footer widget -->
        </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-widget widget-newsletter">
              <h4 class="widget-title">Newsletter</h4>
                            <p>Vous pouvez participer à prochaine collection en nous postant vos photos de chat. Si votre photo est séléctionnée, vous pourrez gagner un voyage à Los Angles compagnie de votre chat en visitant la plus grande foire au chat au monde. A trés vite.</p>
            <!-- Start Widget Newsletter Form -->
            <form action="#" method="post" class="widget-subscripbe">
                <input type="email" name="email" class="widget-input" placeholder="Your email">
                <button type="submit" class="widget-sbtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>
              </div>
            <!-- End Latest Tweets -->

          <!-- End Footer widget -->
        </div>
        </div>
      </div>
  </div>
  <!-- End Footer Top Area  -->
  <!-- Start Footer Bottom -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- Start Copyright Text -->
            <div class="copyright-text">
              <p> &copy; THP/Session 5/Team BullUp</p>
          </div>
          <!-- End Copyright Text -->
        </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
            <!-- Start Carts -->
                            <div class="cards text-right">
                 <img src="img/cards.png" alt="">
              </div>
          <!-- End Carts -->
        </div>
        </div>
      </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
<!-- End Footer Area -->
