<header id="header-area" class="header-style-4">
<div id="sticky-primary">
<!-- Start Header Top Area -->
<div class="header-area">
  <!-- Start Header Top Area -->
  <div class="header-top-bar">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-sm-5 col-md-4">
          <!-- Start Header Left Info -->
          <div class="top-left-info">
            <ul class="list-menu">
              <li><i class="fa fa-phone" aria-hidden="true"></i> </li>
              <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> TeamBullUp</a></li>
            </ul>
          </div>
          <!-- End Header Left Info -->
        </div>
        <div class="col-xs-6 col-sm-3 col-md-4">
          <!-- Start Logo -->
          <div class="logo">

          </div>
          <!-- End Logo -->
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
          <!-- Start Header Right Info -->
          <div class="top-right-menu pull-right">
            <ul>
              <li class="user-login"><a href="profil"><i class="icofont icofont-user"></i></a></li>
              <li class="shiping-cart"><span><i class="icofont icofont-shopping-cart"></i> <span class="item-no">02</span></span>
                <!-- Start Cart Container -->
                <ul class="cart-items-container">
                  <!-- Start Cart header-->
                  <li class="header">Your Order</li>
                  <!-- Start Cart Item -->
                  <li class="item-product-cart">
                    <div class="cart-img">
                      <a href="#"><img src="img/products/cart/cart1.jpg" alt=""></a>
                    </div>
                    <div class="cart-content">
                      <span class="cart-name"><a href="#">Product Name</a></span>
                      <span class="cart-price">€9 9.00</span>
                      <span class="cart-qty">Qty: 01</span>
                    </div>
                    <a href="#" class="remove-btn"><i class="icofont icofont-close"></i></a>
                  </li>
                  <!-- End Cart Item -->
                  <!-- Start Cart Item -->
                  <li class="item-product-cart">
                    <div class="cart-img">
                      <a href="#"><img src="img/products/cart/cart1.jpg" alt=""></a>
                    </div>
                    <div class="cart-content">
                      <span class="cart-name"><a href="#">Product Name</a></span>
                      <span class="cart-price">€99.00</span>
                      <span class="cart-qty">Qty: 01</span>
                    </div>
                    <a href="#" class="remove-btn"><i class="icofont icofont-close"></i></a>
                  </li>
                  <!-- End Cart Item -->
                  <!-- Carts Totals -->
                  <li class="total-cart-details">
                    <span>TOTAL</span>
                    <span class="pull-right"><span class="amount">€99.00</span></span>
                  </li>
                  <!-- Start Cart Buttons -->
                   <li class="cart-buttons">
                    <a class="btn btn-view" href="basket">View Cart</a>
                    <a class="btn btn-checkout" href="checkout">Checkout</a>
                  </li>
                  <!-- End Cart Buttons -->
                </ul>
                <!-- End Cart Container -->
              </li>
              <li class="search-btn"><span><i class="icofont icofont-search"></i></span>
                <!-- Start Search Box -->
                <div class="search-box">
                  <form class="search-box-inner">
                    <input class="search" placeholder="Search for..." type="text">
                    <input value="go" class="submit" type="submit">
                  </form>
                </div>
                <!-- End Search Box -->
              </li>
              <li class="menu-lines"><span><i class="icofont icofont-justify-all"></i></span></li>
            </ul>
          </div>
          <!-- End Header Right Info -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Top Area -->
  <!-- Start Hidden Menu Area -->
  <div class="hidden-menu-area">
    <div class="container">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
          <!-- Start Primary Menu -->
          <nav id="primary-menu">
            <ul class="main-menu">
              <li><a class="active" href="ecommerce-home.html">Home</a>
                  <!-- Start Dropdown -->
                  <ul class="dropdown">
                  <li><a class="active" href="ecommerce-home.html">Ecommerce Default</a></li>
                  <li><a href="ecommerce-home-parallax.html">Ecommerce Parallax</a></li>
                </ul>
                <!-- End Dropdown -->
              </li>
              <li><a href="ecommerce-shop.html">Shop</a>
                  <!-- Start Dropdown -->
                  <ul class="dropdown">
                  <li><a href="ecommerce-shop.html">Shop Fullwidth</a></li>
                  <li><a href="ecommerce-shop-left-sidebar.html">Shop Left Sidebar</a></li>
                  <li><a href="ecommerce-shop-right-sidebar.html">Shop Rihgt Sidebar</a></li>
                </ul>
                <!-- End Dropdown -->
              </li>
              <li><a href="#">Pages</a>
                  <!-- Start Dropdown -->
                  <ul class="dropdown">
                  <li><a href="ecommerce-shop.html">Products</a></li>
                  <li><a href="ecommerce-product-details.html">Single Product Details</a></li>
                  <li><a href="ecommerce-product-details-sidebar.html">Product Details with Sidebar</a></li>
                  <li><a href="ecommerce-shoping-cart.html">Cart</a></li>
                  <li><a href="ecommerce-checkout.html">Checkout</a></li>
                  <li><a href="ecommerce-wishlist.html">Wishlist</a></li>
                  <li><a href="ecommerce-404.html">404</a></li>
                </ul>
                <!-- End Dropdown -->
              </li>
              <li><a href="#fasion-testimonials">Testimonail</a></li>
              <li><a href="#fasion-blog">Blog</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </nav>
          <!-- End Primary Menu -->
        </div>
      </div>
      <!-- Start Mobile Menu Area -->
      <div class="mobile-menu-area hidden-lg hidden-md">
        <div class="row">
          <div class="col-xs-12 active-mobile-menu">
            <nav id="mobile-menu">
              <ul>
                <li><a class="active" href="ecommerce-home.html">Home</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="ecommerce-home.html">Ecommerce Default</a></li>
                    <li><a href="ecommerce-home-parallax.html">Ecommerce Parallax</a></li>
                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="ecommerce-shop.html">Shop</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="ecommerce-shop.html">Shop Fullwidth</a></li>
                    <li><a href="ecommerce-shop-left-sidebar.html">Shop Left Sidebar</a></li>
                    <li><a href="ecommerce-shop-right-sidebar.html">Shop Rihgt Sidebar</a></li>
                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="#">Pages</a>
                  <!-- Start Dropdown -->
                  <ul>
                    <li><a href="ecommerce-product-details.html">Product Details</a></li>
                    <li><a href="ecommerce-product-details-sidebar.html">Product Details with Sidebar</a></li>
                    <li><a href="ecommerce-shoping-cart.html">Cart</a></li>
                    <li><a href="ecommerce-checkout.html">Checkout</a></li>
                    <li><a href="ecommerce-wishlist.html">Wishlist</a></li>
                  </ul>
                  <!-- End Dropdown -->
                </li>
                <li><a href="#fasion-testimonials">Testimonail</a></li>
                <li><a href="#fasion-blog">Blog</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- End Mobile Menu Area -->
    </div>
  </div>
  <!-- End Hidden Menu Area -->
</div>
<!-- End Header Top Area -->
</div>
</header>
